@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  background-color: #1b1523;
  color: white;
}

.App button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.App button:hover {
  background-color: tomato;
  color: white;
}

.Card {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 3rem auto;

}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  scale: 1.03;
  transition: 700ms;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

.card .card-front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .card-front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .card-back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .card-back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

